<style>
@import url(https://fonts.googleapis.com/css?family=Advent+Pro:500&text=BROEN);
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
/* MAIN BACKGROUND */
  background: url("https://img1.wsimg.com/isteam/ip/ce812a0c-e8f2-45a2-98c6-037c71a5fe1e/IMG_3694.png/:/rs=w:1440,h:1440");
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
}
body::before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #RED; /* #212020; */
  -webkit-animation: overlay infinite 12s;
          animation: overlay infinite 12s;
  content: "";
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  width: 50px; /* 50px; */
  height: 1.4em; /* 1.4em; */
  transform: translate(-50%, -100%);
  color: rgba(255, 255, 255, 0.55);
  font-family: Advent Pro, helvetica neue, sans serif;
  font-size: 1.4em; 
          /* 1.4em; -------------------------------------- "V3||UM"  */
  font-weight: 500;
  line-height: 1.4em;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -webkit-animation: opacity infinite 12s;
          animation: opacity infinite 12s;
}
h1 span {
  display: block;
  position: absolute;
  top: 0;
}
h1 span:nth-child(1) {
  right: 100%;
  margin-right: -0.4em;
}
h1 span:nth-child(2) {
  left: 100%;
}

/* -------------------------------------- the ANIMATED "||" part of V3||UM */
h1::before, h1::after {
  display: block;
  position: absolute;
  top: 50%;
  width: 2px;
  height: 50px;
       /* 30px; */
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.55);
  content: "";

}
h1::before {
  left: 18px;
  transform-origin: 0 0;
  transform: translateZ(-50%) rotateX(-90deg);
  -webkit-animation: transform ease-out infinite 12s;
          animation: transform ease-out infinite 12s;
}
h1::after {
  right: 18px;
  transform-origin: 0 100%;
  transform: translateZ(-50%) rotateX(-90deg);
  -webkit-animation: transform ease-out infinite 12s;
          animation: transform ease-out infinite 12s;
}

@-webkit-keyframes transform {
  0%, 16% {
    opacity: 0;
    transform: translateY(-50%) rotateX(-90deg);
  }
  18% {
    opacity: 1;
  }
  40% {
    opacity: 1;
    transform: translateY(-50%) rotateX(0deg);
  }
}

@keyframes transform {
  0%, 16% {
    opacity: 0;
    transform: translateY(-50%) rotateX(-90deg);
  }
  18% {
    opacity: 1;
  }
  40% {
    opacity: 1;
    transform: translateY(-50%) rotateX(0deg);
  }
}
@-webkit-keyframes overlay {
  0% {
    opacity: 0.5;
  }
  18%, 81% {
    opacity: 0;
  }
  92%, 100% {
    opacity: 0.5;
  }
}
@keyframes overlay {
  0% {
    opacity: 0.5;
  }
  18%, 81% {
    opacity: 0;
  }
  92%, 100% {
    opacity: 0.5;
  }
}
@-webkit-keyframes opacity {
  0%, 4% {
    opacity: 0;
  }
  18%, 81% {
    opacity: 1;
  }
  92%, 100% {
    opacity: 0;
  }
}
@keyframes opacity {
  0%, 4% {
    opacity: 0;
  }
  18%, 81% {
    opacity: 1;
  }
  92%, 100% {
    opacity: 0;
  }
}



/* --- //STYLE - NOTIFICATTION POP-UP //START --- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--background: none;
	--button: #232323;
	--notify: #ecf0f1;
	--icon: #ff3f34;
	--light-grey: #ecf0f1;
	--dark-grey: #34495e;
	--blue: #12cbc4;
	--dark-blue: #1289a7;
	--red: #ed4c67;
}

body {
	background-color: var(--background);
	font-family: Montserrat, Helvetica, Sans-Serif;
	animation-delay: 1s; 
	/* 1s */
}

.notify {
	width: 90px;
	height: 63px;
	display: block;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.1) 100%
	);
	background-color: var(--notify);
	border-radius: 6px;
	position: absolute;
	bottom: 60px;
	left: 28px;
	filter: drop-shadow(7px 7px 10px RGBA(0, 0, 0, 0.4));
	padding: 8px 13px;
	cursor: pointer;
}

.animate.notify {
	opacity: 1;
	animation: base-animation 3s ease alternate infinite; 
	/* 3s */ /* The WHITE BG part */
}

.button {
	background-color: var(--button);
	height: 65px;
	width: 65px;
	position: absolute;
	right: 13px;
	top: -15px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	filter: drop-shadow(3px 3px 3px RGBA(0, 0, 0, 0.2));
	color: white;
	font-family: Montserrat, Helvetica, Sans-Serif;
	content: "\f095";
	font-size: 30px;
	color: white;
}

.animate .button {
	animation: button-animation 3s ease alternate infinite; 
	/* 3s */ /* The BLACK BG part */
}

.animate .button i {
	animation: icon-animation 3s ease alternate infinite; 
	/* 3s */ /* The ROTATING ICON part */
}

span {
	animation-delay: 1s;
	/* 1s */ /* REPLAY TIME */
}

.animate span {
	animation: text-animation 3s ease alternate infinite; 
	/* 3s */ /* V3||UM EMBOSSED text*/
}

.title {
	color: white;
	font-weight: 600;
	font-size: 20px;
	display: block;
}

.subtitle {
	color: #ddd;
}

@keyframes base-animation {
	0% {
		width: 90px;
		height: 0;
	}

	22% {
		height: 83px;
	}

	25% {
		width: 90px;
		height: 76px;
	}

	32% {
		height: 63px;
	}

	50% {
		width: 90px;
	}
}

@keyframes button-animation {
	0% {
		height: 0px;
		width: 0px;
	}

	17% {
		height: 75px;
		width: 75px;
		right: 8px;
	}

	22% {
		height: 65px;
		width: 65px;
		right: 13px;
	}
	100% {
	}
}

@keyframes text-animation {
	0% {
		opacity: 0;
	}

	39% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}
}

@keyframes icon-animation {
	0% {
		transform: rotate(-680deg);
		opacity: 0;
	}
	1% {
		transform: rotate(-380deg);
		opacity: 0;
	}
	27% {
		transform: rotate(0deg);
		opacity: 1;
	}
}
/* --- //STYLE - NOTIFICATTION POP-UP //END --- */


</style>

